@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


*{
    font-family: 'Nunito', sans-serif;
    background-color:lightblue;
    
}

body{
    margin: 50px;
}

h1{
    color: rgb(6, 116, 206);
    text-align: center;
}


ul{
    font-size: 26px;
}


