/* usa este fichero para personalizar tus vistas */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.icon{
    height:25px;
}

body{
    background: linear-gradient(to top, #369eb3, #90e0ef, #caf0f8) no-repeat center fixed;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 2%;
}

h3{
    color: rgb(17, 136, 190);
    text-align: center;
}

.impresoras{
    float: left;
}

#tabla1{
    display:flex;
    margin-left: 1%;
    margin-top: 20px;
}

select {
    width: 100%;
}

.form{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 20px;
}
.margenes{
    margin-bottom: 15px;
}
#dialogTrabajo{
    display: flex;
    align-items: center;
    margin-left:35%;
    margin-right:auto;
}

#colaTrabajo{
    width:700px;
}

#cola{
    text-align: center;
}

.tipoBoton{
    align-items: center;
    text-align: center;
    margin:5px;
    margin-top:15px;
}

.card{
    float:left;
    width:450px;
}

#tabla{
    text-align: center;
}

#grupoTabla{
    text-align: center;
}

#principalTabla{
    float:right;
    background-color: rgb(255, 255, 255);
    margin:0;
    margin-left:20px;
    height: 493px;
    margin-bottom: 40px;
    text-align: center;
    width:990px;
}

#nav{
    margin-left: 1%;
    width:45%;
}

#iconF{
    margin-left: 7px;
}

#searchInput{
    margin-top:15px;
}

div.botones{
    margin-top:25px;
    margin-bottom:20px;
    text-align: center;
}
.est{
    margin: 20px 50px;
}

label{
    margin-right:10px;
}

input{
    margin-bottom:15px;
}

.filtro{
    margin-left: 10px;
    border:none;
    background:none;
}

#badge{
    font-size:13px;
}

.my-custom-scrollbar {
    position: relative;
    margin:15px;
    overflow: auto;
    height: 419px;
}

.table-wrapper-scroll-y {
    display: block;
}

#cbox1{
    margin-top:25px;
}

button:hover{
    background-color: #90e0ef;
}

button:active {
    background-color: #00b4d8;
}

